    *{
        font-family: georgia;
        /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    }  
    .bg-3{
        padding: 5%;
    }

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .jumbotron{
        background-color: #75dddd;
        padding: 100px 0 50px;
    }

    header {
        background-color: #75dddd;
        padding: 100px 0 50px;
    }
      
    section {
    padding: 100px 0;
    font-size: 120%;
    }

    .textblock{
        padding-bottom: 40px;
    }